@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<li class="b_ans b_top b_topborder" data-fbhlsel="li.b_ans.b_top" h="SERP,5420.1" data-bm="11">
    <div class="qna-mf">
    <div class="b_sideBleed b_topBleed b_bottomBleed">
        <div class="mf-item-cntr ">
        <div class="b_antiSideBleed b_antiTopBleed">
            <div class="mf-item">
            <div class="ans-itm-cntr qna-df qna-aggr-genItems ">
                <div class="df_c d_ans " id="d_ans">
                <div class="b_vPanel">
                    <div>
                    <div class="df_con ">
                    <div class="info">Shivaji University established in 1962, is a state university located at
                        <strong> Kolhapur, Maharashtra, India</strong>. The university, with a campus spread over 853 acres (3.45 sq km), is named after Shivaji, founder of the Maratha Empire. It was inaugurated on 18 November 1962 by Sarvepalli Radhakrishnan, the then president of India.
                        </div>
                        <div class="rch-cap-cntr">
                        <div class="rch-cap-list">
                            <div><strong>Campus:&nbsp;</strong><a target="_blank" href="https://www.bing.com/ck/a?!&amp;&amp;p=157d1ddbcecf0f977f6f68bed3f1aaf8bf9be093d71da0f064a5933d214125b6JmltdHM9MTY1NjMyOTk5NiZpZ3VpZD01YTJjMDAyZS01YzU2LTRhYzItYTJlMy1jMzUyNjc4M2I5ZWQmaW5zaWQ9NTQyMw&amp;ptn=3&amp;fclid=de026b26-f60d-11ec-b88b-e937bf931ee0&amp;u=a1L3NlYXJjaD9xPVVyYmFuK2FyZWFzK3dpa2lwZWRpYQ&amp;ntb=1" h="ID=SERP,5423.1">Urban</a></div><div><strong>Established:&nbsp;</strong><span>1962 (60 years ago)</span>
                                   </div>
                            <div><strong>Location:&nbsp;</strong><a target="_blank" href="https://www.bing.com/ck/a?!&amp;&amp;p=0783844501cd747f6c70c239ce12fa5bfc08a3b4c50f8b7a6d03254e96fcb75cJmltdHM9MTY1NjMyOTk5NiZpZ3VpZD01YTJjMDAyZS01YzU2LTRhYzItYTJlMy1jMzUyNjc4M2I5ZWQmaW5zaWQ9NTQyNQ&amp;ptn=3&amp;fclid=de026e6b-f60d-11ec-86a4-fb60258f79b6&amp;u=a1L3NlYXJjaD9xPUtvbGhhcHVyLCtNYWhhcmFzaHRyYSt3aWtpcGVkaWE&amp;ntb=1" h="ID=SERP,5425.1">Kolhapur, Maharashtra</a><span>, India, India</span>
                                </div>
                            <div><strong>Students:&nbsp;</strong><span>300,000 (2020)</span>
                                </div>
                              </div>
                            </div>
                                       </div></div></div></div></div></div></div></div></div></div></li>
<style>
    .info {
        border-width: 2px;
        border-color: blue;
    }
</style>