@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shivaji University</h1>
   
</div>
<style>
    h1 {
        font-size: 50px;
        font-style: oblique;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: crimson;
        font-weight: bolder;
        background-color: aliceblue;
        border-radius: 25%;
        border-width: 3px;
        border-style: dotted;
        border-color: brown;
        text-align: center;
    }
</style>
